<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
    </ol>
</nav>

<div class="row">
    
    <div class="col-sm-12">

        <form method="post" class="mb-4 mt-4">
        
            <div class="row">
                <div class="col-xl-6">
                    
                    <div class="mb-3 row">
                        <label for="name" class="col-md-2 col-form-label">Name</label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" value="Artisanal kale" id="example-name-input" name="example-name-input">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="example-email-input" class="col-md-2 col-form-label">Email</label>
                        <div class="col-md-10">
                            <input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input" name="example-email-input">
                        </div>
                    </div>
                    
                    <div class="mb-3 row">
                        <label for="example-tel-input" class="col-md-2 col-form-label">Telephone</label>
                        <div class="col-md-10">
                            <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input" name="example-tel-input">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="example-tel-input" class="col-md-2 col-form-label">Message</label>
                        <div class="col-md-10">
                            <textarea class="form-control" type="text" id="example-message-textarea" name="example-message-textarea">Your Message</textarea>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-sm mt-4">Enviar</button>

                </div>
            </div>

        </form>

    </div>
    
</div>